extends layout1
block content
	head
		h3= title
	unless isAdmin
		include ./bsnavbar2.jade
	if isAdmin
		include ./bsnavbar3.jade
	br
	br
	br
	br
	div(style="color:white")
		p(align='center')
			| Inventorier  is for keeping track of inventories! we(I) are a totaly derpy(I mean profetional) company(I think)
			br
			|  that built a web site to keep track of inventories for you! for free!!! Our very educated group(of 1) has put together the best
			br
			|  inventory tracking site(that I know of). Our exelent administrative team(currently one person) will do there best
			br
			|  to keep the site non-toxic for everyone. Our service will be free forever(or however long this site lasts). Thank you for using our service!!
			br
		div(align='center')
			button#fireworksOn.btn.btn-primary(type='button', onclick="document.getElementById('fireworks').style.display = 'block';document.getElementById('fireworksOff').style.display = 'block';document.getElementById('fireworksOn').style.display='none'") Activate fireworks
			img#fireworks(src='Images/fireworks.gif', style='display:none')
			button#fireworksOff.btn.btn-primary(type='button', style='display:none', ,='', onclick="document.getElementById('fireworks').style.display = 'none';document.getElementById('fireworksOff').style.display = 'none';document.getElementById('fireworksOn').style.display='block'") Deactive fireworks
