nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='') Inventorier!
  ul.nav.navbar-nav
    li.active
      a(href='home2') Profile
    li
      a(href='groups') Inventory groups
    li
      a(href='About2') About us
    li
      a(href='logout') Log out
    li
      a(href='contactUs2') contact us
    li
      a(href='admin') admin
