extends layout
block content
    head
        include ./head.jade
        h3= title
    include ./bsnavbar.jade
    br
    br
    br
    if error
        div(class="alert alert-warning")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            strong= error
    form(name="user", method="POST", action="/adduser", id="add_user")
        span Username
        span &nbsp;
        input(type="text", placeholder="username", name="usr", id="usr", required='1')
        br
        br
        span Email
        span &nbsp;
        input(type="email", placeholder="street", name="email",id="email", required='1')
        br
        br
        span Password
        span &nbsp;
        input(type="password", placeholder="password", name="psw", id="psw", required='1')
        br
        br
        span Confirm password
        span &nbsp;
        input(type="password", placeholder="confirm Password", name="confirmPsw", id='confirmPsw', required='1')
        br
        br 
        button#submit_student(type="submit") submit

