extends layout
block content
    head
        include ./head.jade
        h3= title
    include ./bsnavbar.jade
    br
    br
    br
    if error
        div(class="alert alert-warning")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            strong= error
    form(name="user", method="POST", action="/adduser", id="add_user")
        .form-group
            label(for="username") username:
            input#usr.form-control(type="text", placeholder="username", name="usr", required='1')
        .form-group
            label(for="email") email:
            input#email.form-control(type="email", placeholder="email", name="email", required='1')
        .form-group
            label(for="password") password:
            input#psw.form-control(type="password", placeholder="password", name="psw", required='1')
        .form-group
            label(for="confirm Password") Confirm Password
            input#confirmPsw.form-control(type="password", placeholder="confirm Password", name="confirmPsw", required='1')
        .check-box
            label(for="user Agreement")
                input(type="checkbox", value="", required="1")
                | &nbsp;agree to the 
                a(href='/userAgreement', target="_blank") user agreement 
        button#submit(type="submit") submit

