block content
	head
		include ./head.jade
		h3= title
	include ./bsnavbar.jade
	br
	br
	br
	br
	br
	br
	if error
		div(class="alert alert-warning")
			a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
			strong= error
	form(role="form", id="signin" action="/proccesSignIn", method="POST")
		div(class="form-group")
			label(for="username") Username:
			input(id="usr", type="text", name="usr", class='form-control', placeholder='enter username')
		div(class='form-group')
			label(for="password") Password:
			input(type="password", id="psw", name="psw", placeholder="Enter password", class="form-control")
		div(class='form-group')
			input(type='submit', name='login')
	a(href="forgotPsw") Forgot password
