extends layout
block content
	br
	br
	br
	br
	p
		| Do not do illegal stuff with our services, such as using them to inventory drugs. We are not liable if your data, passwords, or acounts are lost or stolen. However we will do our best to protect you information. The user agreement may very rarely be updated, in which case you will be notified of any changes and you will agree to the new agreement by using our services again.
